@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-blue: #8EE3FB;
  --tw-blue-hover: #63D8FC;
}

body {
  font-family: "Anta", sans-serif;
}

#buy_modal {
  z-index: 30 !important;
}