@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Anta", sans-serif;
}

#buy_modal {
  z-index: 30 !important;
}